@font-face {
  font-family: 'intro'; 
  src: url('../mainFonts/intro.woff2') format('woff2'), 
       url('../mainFonts/intro.woff') format('woff');   
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quer'; 
  src: url('./fonts/Chequeregular.woff2') format('woff2'), 
       url('./fonts/Chequeregular.woff') format('woff');   
  font-weight: normal;
  font-style: normal;
}

/* Основной контейнер */
.container {
  display: flex; 
  height: 100vh;  
  width: 100vw;   
  background-color: #2e2e35;
}

.left {
  width: 15%; 
  height: 100%; 
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  background-color: #2e2e35; 
  padding: 20px 0; 
}

.left .center {
  display: flex;
  flex-direction: column;
  align-items: center;    /* Центрирование по горизонтали */
  justify-content: center; /* Центрирование по вертикали */
  height: 100%;            /* Задаем высоту, чтобы элемент растягивался на всю доступную высоту */
}


.left .top {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 20%; 
  margin-top: 15%;
}

.right {
  width: 85%;
  padding: 20px;
  background: #e8dcd0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.Main {
  width: 85%;
  padding: 20px;
  background: #e8dcd0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.Main .top {
  height: 50%; 
  position: relative; 
} 

.titleBox {
  width: 20%; 
  height: 20%;
  position: absolute;
  left: 14%; 
  top: 50%; 
  transform: translateY(-50%); 
  background-color: #e8dcd0;
  border-radius: 10px;
  padding-top: 2%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.titleBox .title {
  font-family: 'quer', sans-serif;
  font-size: 70px; 
  font-weight: 700;
  color: #181d22;
}

.subBox {
  width: 40%; 
  height: 20%;
  position: absolute;
  left: 4%; 
  top:70%; 
  transform: translateY(-50%); 
  background-color: #e8dcd0;
  border-radius: 10px;
  padding-top: 2%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  font-weight: 600;
}

.subBox .title {
  font-family: 'quer', sans-serif;
  font-size: 40px; 
  color: #181d22;
}



.eventMenu {
  width: 50%; 
  height: 90%;
  position: absolute;
  left: 50%; 
  top: 50%; 
  transform: translateY(-50%); 
  background-color: #494949;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding-top: 2%;
  display: flex;
  flex-direction: column; 
}

.Main .bot {
  height: 50%; 
  position: relative; 
}


.score {
  margin-top: 2%;
  margin-left: 2%;
  font-family: 'intro', sans-serif;
  font-size: 30px; 
  color: #c8c8f5;
  position: relative; 
  z-index: 100; 

}

.Info {
  width: 85%;
  padding: 20px;
  background: #e8dcd0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}





/* Левая часть */

.circle {
  margin-top: 10%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('./image/User.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 10px #181d22; 
}

/* Кнопки */
.buttonLeft {
  font-family: 'intro', sans-serif;
  font-size: 16px; 
  padding: 20px 40px;
  color: #252d35;   
  background: #e8dcd0;
  border: 2px solid #252d35;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  user-select: none;
  text-decoration: none; 
  margin: 20px 0; 
  display: inline-block; 
  width: 200px; 
  text-align: center; 
}

.buttonLeft:hover,
.buttonLeft:active {
  background-color: #252d35;   
  border: 2px solid #e8dcd0;   
  color: #e8dcd0;             
}


